@model List<Portfolio.Models.TblTeams>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}
<br />
<br />
<h2>Takım Arkadaşlarım</h2>

<table class="table table-bordered">

    <tr>
        <th>#</th>
        <th>Adı/Soyadı</th>
        <th>Görevi</th>
        <th>Hakkında</th>
        <th>Twitter</th>
        <th>Facebook</th>
        <th>Linkedin</th>
        <th>Instagram</th>
    </tr>

    @foreach (var item in Model)
    {
        count++;
        <tr>
            <td>@count</td>
            <td>@item.ImageUrl</td>
            <td>@item.NameSurname</td>
            <td>@item.Title</td>
            <td>@item.Description</td>
            <td>@item.TwitterUrl</td>
            <td>@item.FacebookUrl</td>
            <td>@item.Linkedin</td>
            <td>@item.InstagramUrl</td>
            <td><a href="/Team/DeleteTestimOnial/@item.TeamId" class="btn btn-outline-danger">Sil</a></td>
            <td><a href="/Team/UpdateTestimOnial/@item.TeamId" class="btn btn-outline-info">Güncelle</a></td>
        </tr>
    }


</table>

<a href="/Team/AddTeam" class="btn btn-outline-primary">Takım Arkadaşı Ekle</a>