@model List<Portfolio.Models.TblExperiences>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<br />
<h3>Deneyimler Sayfası</h3>

<<table class="table table-bordered">

    <tr>
        <th>#</th>
        <th>Görev</th>
        <th>Görev</th>
        <th>Görev</th>
        <th>Görev</th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ExperienceID</td>
            <td>@item.StartYear</td>
            <td>@item.EndYear</td>
            <td>@item.Title</td>
            <td>@item.Description</td>
            <td>@item.Company</td>
            <td>@item.Location</td>


        </tr>
    }

</table>

<br />
<a href="Experience/AddExperience" class ="btn btn-outline-primary">Yeni Deneyim Girişi </a>